# Public facing URL of the app. Required by SvelteKit for server side features.
ORIGIN=https://example.org

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app

# Drizzle. Here `db` is the name of the PostgreSQL container.
DATABASE_URL=postgres://postgres:postgres@db:5432/app

ADMIN_EMAIL=mario.rossi@example.com
ADMIN_PASSWORD=Strong0.Password

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=foo@example.com
SMTP_PASS=bar
