# Public facing URL of the app. Required by SvelteKit for server side features.
ORIGIN=https://example.com

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app

# Drizzle. Here `db` is the name of the PostgreSQL container.
DATABASE_URL=postgres://postgres:postgres@db:5432/app

ADMIN_EMAIL=mario.rossi@example.com
ADMIN_PASSWORD=Strong0.Password

# openssl rand --hex 32
AES_KEY=b05371d6f059b196dc8fd2913ee85b960d957d0622fb325fd4413a74b89af9af
