/* Shared app style */

html {
	/* Use system fonts. They are already there, they are legible and more or
     less complete. The app will fit in the system.
     See: https://systemfontstack.com/ */

	--font-sans-serif:
		-apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Adwaita Sans,
		Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;

	--font-serif:
		Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times,
		Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

	--font-mono: Menlo, Consolas, Monaco, Adwaita Mono, Liberation Mono, Lucida Console, monospace;

	font-family: var(--font-sans-serif);

	/* Colors */
	/* Default foreground */
	--body: light-dark(#212529, #dee2e6);
	/* Default background */
	--body-bg: light-dark(#fdfdfd, #212529);

	/* Lighter text */
	--body-light: light-dark(#2b3035, #7f8387);
	/* Dividers and disabled elements */
	--body-light-bg: light-dark(#eee, #2b3035);

	/* Higher contrast text */
	--body-lighter: light-dark(#343a40, #bfb2b6);
	/* Even lighter text: hovers, accents */
	--body-lighter-bg: light-dark(#ccc, #647a70);
	--emphasis: light-dark(white, black);

	color: var(--body);
	background: var(--body-bg);

	/* Borders, dividers, rules */
	--border: light-dark(#747e80, #495057);

	/* Main color: hyperlinks, focus style, active states of components and forms */
	--primary: light-dark(#7dcefd, #0d6efd);
	--primary-bg: #031633;
	--primary-border: #084298;
	--primary-text: #6ea8fe;

	/* Positive or successful actions and information */
	--success: #198754;
	--success-bg: #051b11;
	--success-border: #051b11;
	--success-text: #75b798;

	/* Errors and dangerous actions */
	--danger: #dc3545;
	--danger-bg: #2c0b0e;
	--danger-border: #842029;
	--danger-text: #ea868f;

	/* Non destructive warning messages */
	--warning: #ffc107;
	--warning-bg: #332701;
	--warning-border: #997404;
	--warning-text: #ffda6a;

	/* Neutral and informative content */
	--info: #0dcaf0;
	--info-bg: #032830;
	--info-border: #032830;
	--info-text: #6edff6;

	--radius: 10px;

	--focus-shadow: 0 0 0 3px rgb(from var(--primary) r g b / 0.5);
}

::selection {
	background-color: rgb(from light-dark(darkslateblue, slateblue) r g b / 0.2);
}

*:focus-visible {
	outline: none;
	box-shadow: var(--focus-shadow);
	z-index: 2;
	overflow: visible;
}

html {
	height: 100%;
}

body {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	p {
		line-height: 1.5em;
	}
}

a {
	border-radius: var(--radius);
	color: var(--primary-text);
}

button {
	cursor: pointer;
	border-radius: var(--radius);
	border-color: var(--primary);
	background: var(--primary);

	&:hover {
		background: hsl(from var(--primary) h s calc(l - 5));
		border-color: hsl(from var(--primary) h s calc(l - 8));
		transition: 200ms ease-in-out;
	}

	&:active {
		background: hsl(from var(--primary) h s calc(l - 8));
		border-color: hsl(from var(--primary) h s calc(l - 10));
		transition: 30ms cubic-bezier(0, 0, 0, 1);
	}

	&.secondary {
		border-color: var(--border);
		background: var(--body-light-bg);
		color: var(--body-light);

		&:hover {
			background: hsl(from var(--body-light-bg) h s calc(l + 3));
		}

		&:active {
			background: hsl(from var(--body-light-bg) h s calc(l + 6));
		}
	}
}

button,
input,
select {
	padding: 6px 12px;
	border-width: 1px;
	border-style: solid;
}

input,
select {
	border-radius: var(--radius);
	border-color: var(--border);
	background: transparent;

	&:focus,
	&:active {
		border-color: hsl(from var(--border) h s calc(l + 40));
	}
}

form .input-host {
	display: flex;
	flex-direction: column;

	label {
		color: var(--body-light);
		font-size: 0.85em;
		margin-bottom: 0.3em;
	}

	.error {
		margin-top: 0.3em;
		color: var(--danger);
		font-size: 0.7em;
		line-height: 1.35em;
	}
}

input:user-invalid {
	border-color: var(--danger);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23DC3545' stroke-width='2' stroke-linecap='round' %3E%3Cpath d='m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3'/%3E%3Cpath d='M12 9v4'/%3E%3Cpath d='M12 17h.01'/%3E%3C/svg%3E");

	&:focus-visible {
		box-shadow: 0 0 0 3px rgb(from var(--danger) r g b / 0.5);
	}
}

input:user-valid {
	border-color: var(--success);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23198754' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M20 6 9 17l-5-5'/%3E%3C/svg%3E");

	&:focus-visible {
		box-shadow: 0 0 0 3px rgb(from var(--success) r g b / 0.5);
	}
}

input:user-invalid,
input:user-valid {
	background-position: right 0.6em center;
	background-size: 1.25em;
	padding-right: 2.25em;
	background-repeat: no-repeat;
}

.tippy-box[data-theme~='app'] {
	background-color: var(--body);
	color: var(--emphasis);
}

.tippy-box[data-theme~='app']>.tippy-arrow::before {
	color: var(--body);
}
